capitulo-30/Completed ProductClient/ProductClient/Service References/NorthwindServices/Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Discontinued" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityPerUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReorderLevel" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="SupplierID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitsInStock" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="UnitsOnOrder" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInfo" nillable="true" type="tns:ProductInfo" />
</xs:schema>